<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Default JCatalyst App</title>
	
	<link rel="icon" href="/catalyst/icon.png">
	
	$imports
</head>
<body>
	<!--<img src="/catalyst/icon.png" alt="" width="100" height="100">
	<h1>Your JCatalyst app is up and running!</h1>
	<br>
	<p>This is JCatalyst's default page. If you have configured a <code>JCatalyst.get("/", (req, res) -> {...})</code> and it redirected you to this page, your code might not be functioning correctly</p>

	<div class="card">
		<div class="content">
			<h1>Get Started</h1>
			<a class="btn">View Documentation</a>
			<a class="btn" target="blank" href="https://www.youtube.com/channel/UCt4LCYyn9nVAlyeXIYAryLg">Video Tutorials</a>
		</div>
	</div>-->

	<!--<h1>To Do List</h1>

	<input type="text" data-catalyst="todo" class="input" required>
	<label>Add to To Do List</label>

	<div class="list">
		<h3 data-no-catalyst>Uncompleted Task</h3>
		<a data-catalyst-list="todolist">
			<input type="checkbox" class="checkbox"><label></label> Task: <span data-catalyst="list-element"></span>
		</a>
		<a data-no-catalyst data-catalyst-list-position="bottom">Task: <span data-catalyst="todo"></span></a>
	</div>-->

	<h1>Chat</h1>

	<input type="text" data-catalyst="chatt" class="input">

	<div class="list">
		<a data-catalyst-list="chat"><span data-catalyst-query="user"></span> wrote <span data-catalyst-query="msg"></span></a>
	</div>
</body>
</html>